<html>
<head>
    <title></title>
    <style>
        body {
            /*background-image: url(images/bg.jpg);*/ /* Путь к фоновому изображению */
            background-color: lightcyan; /* Цвет фона */
        }

    </style>
</head>
<body>
    <h1 style="color: teal">Благодарим Вас за регистрацию!</h1>
</body>
</html>