
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
<head>
    <title></title>
    <style>
        body {
            /*background-image: url(images/bg.jpg);*/ /* Путь к фоновому изображению */
            background-color: lightcyan; /* Цвет фона */
        }
    </style>
</head>
<body>
    <h1 style="color: teal">Надеемся, вы скоро вернетесь!</h1>
</body>
</html>